html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
h3, h4{
    font-family: 'Playfair Display SC', serif;
    font-size: 46px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-feature-settings: "lnum" 1;
}
p{
    margin: 0;
}
a{
    color: black;
}
.cta{
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin: 30px 0 0;
    width: 100%;
    display: block;
    text-decoration: none;
    font-weight: 400;
}
#alert-cart{
    position: fixed;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: black;
    color: white;
    padding: 20px 18px;
    box-sizing: border-box;
    z-index: 10;
    transition: 300ms ease-in-out;
}
#alert-cart.active{
    top:10px;
}
.logo{
    padding: 75px 0;
}
.logo img{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.hero1{
    padding: 50px 10px 125px;
}
.hero1 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero1 img{
    width: 50%;
    transform: scale(1.15);
    transform-origin: left;
}
.hero1 .text{
    width: 50%;
    background: white;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.hero2{
    padding: 75px 10px;
}
.hero2 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero2 img{
    width: 50%;
}
.hero2 .text{
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}
.hero2 .text p{
    margin: 0 0 10px;
}
.hero2 .text ul{
    margin: 0 0 10px;
    list-style: none;
}
.hero2 .text ul li{
    position: relative;
}
.hero2 .text ul li:before{
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    position: absolute;
    top: 14px;
    left: -30px;
    background: black
}
.hero3{
    padding: 75px 10px;
    text-align: center;
}
.hero3 a.cta{
    width: 250px;
    margin: 0 auto;
}

.hero4{
    padding: 75px 10px;
}
.hero4 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero4 img{
    width: 50%;
}
.hero4 .text{
    width: 50%;
    background: white;
    padding: 50px;
    box-sizing: border-box;
    transform: translate(-70px,55px);
    position: relative;
}
.hero4 .text p:not(:last-of-type){
    margin: 0 0 20px;
}

.hero5{
    padding: 75px 10px;
}
.hero5 h3{
    max-width: 1200px;
    margin: 0 auto;
}
.hero5 > div{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.hero5 .arrow.left{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: translateY(-50%) rotate(45deg);
    transition: 100ms ease-in-out;
    cursor: pointer;
}
.hero5 .arrow.right{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translateY(-50%) rotate(-45deg);
    transition: 100ms ease-in-out;
    cursor: pointer;
}
.hero5 .arrow.right.hidden, .hero5 .arrow.left.hidden{
    display: none;
}
.hero5 .items{
    max-width: 90%;
    margin: 50px auto 0;
    position: relative;
    overflow-x: hidden;
}
.hero5 .slider{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    transition: 300ms ease-in-out;
}
.hero5 .item{
    min-width: calc(33.3333% + 0.001px - 10px);
    position: relative;
}
.hero5 .item img{
    width: 100%;
    display: block;
    margin: 0 auto 20px;
}
.hero5 .item .title{
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 83%;
    background: white;
    padding: 25px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}

.hero6{
    padding: 75px 10px;
}
.hero6 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero6 > div > img{
    width: 50%;
}
.hero6 .text{
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}
.hero6 .text p{
    margin: 0 0 10px;
}
.hero6 .text img{
    width: 215px;
    display: block;
    margin: 0 auto 20px;
}

.hero7{
    padding: 75px 10px;
}
.hero7 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero7 img{
    width: 50%;
}
.hero7 .text{
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}
.hero7 .text p{
    margin: 0 0 10px;
}
.hero7 .text ul{
    margin: 0 0 10px;
    list-style: none;
}
.hero7 .text h6{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0 20px 0 0;
    width: fit-content;
    position: relative;
    cursor: pointer;
}
.hero7 .text h6.visible{
    font-weight: 600;
}
.hero7 .text h6:after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translateY(-50%) rotate(45deg);
    transition: 100ms ease-in-out;
}
.hero7 .text h6:hover:after{
    top: 58%;
}
.hero7 .text .osszetevo p{
    overflow-y: hidden;
    height: 0;
    margin: 0;
    transition: 300ms ease-in-out;
}

.hero8{
    padding: 75px 10px;
}
.hero8 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero8 img{
    width: 50%;
}
.hero8 .text{
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}
.hero8 .text p{
    margin: 0 0 10px;
}

.hero9{
    padding: 75px 10px;
}
.hero9 > div{
    max-width: 1200px;
    margin: 0 auto;
}
.hero9 .velemenyek{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px 0 0;
}
.hero9 .velemeny{
    width: calc(31%);
    margin: 0 0 30px;
}
.hero9 .velemeny h4{
    font-size: 30px;
}

.hero10{
    padding: 75px 10px;
}
.hero10 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.hero10 img{
    width: 50%;
}
.hero10 .text{
    width: 50%;
    background: white;
    padding: 50px;
    box-sizing: border-box;
    transform: translate(-80px,100px);
    position: relative;
}
.hero10 .text p:not(:last-of-type){
    margin: 0 0 20px;
}

.hero11{
    padding: 75px 10px;
}
.hero11 > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero11 .images{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}
.hero11 .images img{
    display: block;
    width: 100%;
    margin: 0;
}
.hero11 .text{
    width: 50%;
    background: white;
    padding: 50px;
    box-sizing: border-box;
}
.hero11 h4{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.hero11 .qty{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
    gap: 20px;
}
.hero11 .qty button{
    display: block;
    width: 100%;
    border: 2px solid black;
    color: black;
    background: transparent;
    padding: 18px 0;
    font-weight: 400;
    cursor: pointer;
}
.hero11 button.active{
    background: black;
    color: white;
}

input#myCheck {
    height: 20px;
    width: 20px;
    transform: translateY(3px);
}
#theForm input[type="text"], #theForm input[type="email"], #theForm select {
    width: 100%;
    padding: 16px 10px 16px 10px;
    box-sizing: border-box;
    margin: 0 0 20px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: transparent;
    color: black;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#theForm input[type="text"]:focus-visible,
#theForm input[type="email"]:focus-visible,
#theForm select:focus-visible{
    outline: none;
    border: 2px solid black;
}
#theForm input:-webkit-autofill {
    background-color: transparent !important;
    color: white !important;
}

.iranyitoszam{
    width:27%;
    display: inline-block;
    margin: 0 3% 0 0;
}
.varos{
    width:70%;
    display: inline-block;
}
.radio-label{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.radio-label label:has(> input:checked) {
    background: black;
    color: white;
}
.radio-label label {
    font-weight: 400;
    display: block;
    width: 43%;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    transition: 150ms ease-in-out;
}
.radio-label input{
    display: none;
}
.rendeles-gomb {
    background: black;
    padding: 18px 0;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    border: 2px solid black;
    cursor:pointer;
}
#success-order{
    text-align: center;
    display: none
}
#success-order.active{
    display: block;
}
#success-order h4{
    font-size: 36px;
    margin: 30px 0 0;
}

@media (max-width: 1024px){
    h3, h4{
        font-size: 32px;
    }
    .hero1 {
        padding: 0 10px 75px;
    }
    .hero1 img {
        width: 100%;
        transform: scale(1);
    }
    .hero1 .text {
        width: 100%;
        padding: 28px;
    }
    .hero2{
        padding: 30px 10px;
    }
    .hero2 > div {
        flex-direction: column-reverse;
    }
    .hero2 img {
        width: 100%;
        transform: scale(1);
    }
    .hero2 .text {
        width: 100%;
        padding: 28px;
    }
    .hero3{
        padding: 30px 10px;
    }
    .hero4{
        padding: 30px 10px;
    }
    .hero4 img {
        width: 100%;
        transform: scale(1);
    }
    .hero4 .text {
        width: 100%;
        transform: translate(0);
        padding: 28px;
    }
    .hero5{
        padding: 30px 10px;
    }
    .hero5 .item {
        min-width: calc(50% - 10px);
    }
    .hero5 .item .title {
        position: relative;
        bottom: 20px;
        right: 0;
        width: 100%;
        background: white;
        padding: 15px 10px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Playfair Display SC', serif;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
    }
    .hero6{
        padding: 30px 10px;
    }
    .hero6 > div {
        flex-direction: column-reverse;
    }
    .hero6 > div > img {
        width: 100%;
    }
    .hero6 .text {
        width: 100%;
        padding: 28px;
    }
    .hero7{
        padding: 30px 10px;
    }
    .hero7 img {
         width: 100%;
         transform: scale(1);
     }
    .hero7 .text {
        width: 100%;
        padding: 28px;
    }
    .hero8{
        padding: 30px 10px;
    }
    .hero8 > div {
        flex-direction: column-reverse;
    }
    .hero8 img {
        width: 100%;
    }
    .hero8 .text {
        width: 100%;
        padding: 28px;
    }
    .hero9{
        padding: 30px 10px;
    }
    .hero9 .velemeny {
        width: 100%;
    }
    .hero10{
        padding: 30px 10px;
    }
    .hero10 img {
        width: 100%;
    }
    .hero10 .text {
        width: 100%;
        transform: translate(0);
        padding: 28px;
    }
    .hero11{
        padding: 30px 10px;
    }
    .hero11 .images {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 15px;
    }
    .hero11 .text {
        width: 100%;
        padding: 28px;
    }
}
